{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}


{% block content %}
<form method="post" id="absenceForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

<script>
    document.getElementById('id_matricule').addEventListener('change', function () {
        const matricule = this.value;

        if (matricule) {
            fetch(/get_student_details/?matricule=${matricule})
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('id_student').innerHTML =
                            <option value="${data.student_id}" selected>${data.first_name} ${data.last_name}</option>;
                        document.getElementById('id_niveau').value = data.niveau;
                    } else {
                        alert(data.error);
                    }
                })
                .catch(error => console.error('Erreur:', error));
        }
    });
</script>
{% endblock %}

