{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Titre à gauche -->
                
                        <!-- Groupe central avec le filtre -->
                        <div class="flex-grow-1 mx-4">
                            <form method="GET" class="d-flex align-items-center justify-content-center">
                                <div class="form-group mb-0 d-flex align-items-center">
                                    <label for="niveau" class="mr-2 mb-0">Filtrer par niveau:</label>
                                    <select name="niveau" id="niveau" class="form-control form-control-sm" style="width: 150px;" onchange="this.form.submit()">
                                        <option value="">Tous les niveaux</option>
                                        {% for niveau in niveaux %}
                                            <option value="{{ niveau }}" {% if selected_niveau == niveau %}selected{% endif %}>
                                                {{ niveau }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                
                         <!-- Boutons d'import et d'export à droite -->
                         <div class="d-flex align-items-center">
                             <form method="post" enctype="multipart/form-data" class="mr-2">
                                 {% csrf_token %}
                                 <label for="csv_file" class="btn btn-primary btn-sm">
                                     <i class="fas fa-file-upload"></i> Importer CSV
                                 </label>
                                 <input type="file" id="csv_file" name="csv_file" style="display: none;"
                                     onchange="this.form.submit()" accept=".csv" >
                             </form>
                             <a href="{% url 'export_students_excel' %}{% if selected_niveau %}?niveau={{ selected_niveau }}{% endif %}" 
                                class="btn btn-success btn-sm mr-2">
                                 <i class="fas fa-file-excel"></i> Export Excel
                             </a>
                             <a href="{% url 'export_students_pdf' %}{% if selected_niveau %}?niveau={{ selected_niveau }}{% endif %}" 
                                class="btn btn-danger btn-sm">
                                 <i class="fas fa-file-pdf"></i> Export PDF
                             </a>
                         </div>
                    </div>
                </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Niveau</th>
                                    <th>matricule</th>
                                    <th>Gender</th>
                                    <th>Numéro de téléphone</th>
                                    <th>Avatar</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{student.last_name}}, {{student.first_name}}</td>
                                    <td>{{student.student.niveau}}</td>
                                    <td>{{student.student.matricule}}</td>
                                    <td>{{student.gender}}</td>
                                    <td>{{ student.student.phone_number|default:"Not provided" }}</td>
                                  
                                    <td>
                                        {% if student.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="56" width="56"
                                            src="{{student.profile_pic}}" alt="">
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        {% if student.student and student.student.id %}
                                            <a href="{% url 'edit_student' student.student.id %}" class="btn btn-outline-info btn-sm">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>
                                            
                                            <a href="#" class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{% url 'delete_student' student.student.id %}')">
                                                <i class="fas fa-trash-alt"></i> Delete
                                            </a>
                                
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                
                                <script>
                                    function confirmDelete(deleteUrl) {
                                        Swal.fire({
                                            title: 'Are you sure?',
                                            text: "You won't be able to revert this!",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonText: 'Yes, delete it!',
                                            cancelButtonText: 'Cancel',
                                            reverseButtons: true
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = deleteUrl;  // Redirige vers l'URL de suppression
                                            }
                                        });
                                    }
                                </script>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}