<style>
    .calendar-container {
    display: flex; /* Utiliser Flexbox */
}

.table-responsive {
    flex: 1; /* Le tableau prend tout l'espace disponible */
    overflow-x: auto; /* Permettre le défilement horizontal si nécessaire */
}

.sidebar-form {
    width: 100px; /* Largeur fixe pour le formulaire */
    margin-right: 20px; /* Espacement entre le formulaire et le tableau */
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sidebar-form .inline-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar-form .form-group {
    margin-bottom: 10px;
}

.sidebar-form .form-control-sm {
    width: 100%;
}

.sidebar-form .btn-primary {
    /* Ajuster la taille du bouton */
    padding: 5px 5px; /* Rembourrage (haut/bas, gauche/droite) */
    font-size: 12px; /* Taille de la police */
     width: 30px; 
     height: 30px;
}
</style>

<div class="quick-add-form sidebar-form">
    <form method="POST" action="{% url 'creer_emploi_temps' %}" class="inline-form">
        {% csrf_token %}
        <input type="hidden" name="type_evenement" value="COURS">
        <input type="hidden" name="promotion" value="{{ promotion_selected }}">
        <input type="hidden" name="date_debut" value="{{ date_debut|date:'Y-m-d' }}">

        <div class="form-group">
            <select name="matiere" class="form-control form-control-sm" required>
                <option value="">Choisir une matière</option>
                {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="time" name="heure_debut" class="form-control form-control-sm" min="08:00" max="18:00"
                required>
        </div>
        <div class="form-group">
            <input type="time" name="heure_fin" class="form-control form-control-sm" min="08:00" max="18:00"
                required>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i> Ajouter le cours
        </button>
    </form>
</div>